
@{
    ViewData["Title"] = 1;
}

<h2>Index</h2>
<div>
    @ViewBag.isLogin;
</div>
<div>
    @ViewBag.loginName
</div>
<div>
    @ViewBag.path
</div>
<form method="get">

    <input type="submit" name="name" value="login" />
    <input type="submit" name="name" value="unlogin" />
</form>
