@{
    Layout = "~/Views/Shared/_SunLayoutWithDiv.cshtml";
    ViewBag.smallTiTle = "板载4G模块";
    ViewBag.haveAttentionSpan = false;
}
@section head{
    <style>
        .test {
            width: 100px;
            height: 100px;
            background-color: red
        }
    </style>
}

<div class="test">

</div>
@section script{

}

